.app {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100vh;
}

/* navbar */
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2f3135;
}
.navbar__option {
  color: gray;
  text-decoration: none;
  transition: transform ease-in-out 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__option:hover {
  transform: scale(1.2);
  color: white;
}
.navbar__contact {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.navbar__contact > p {
  font-size: x-small;
}
/* main */
.home,
.projects,
.error {
  flex: 1;
  background-color: #363a3f;
}
/* home */
/* projects */
.projects {
  flex-direction: column;
  display: grid;
  place-items: center;
  overflow: scroll;
}
/* hide scrollbar for chrome sarari opera */
.projects::-webkit-scrollbar {
  display: none;
}
/* hide scrollbar for ie edge firefox */
.projects {
  -ms-overflow-style: none; /*IE Edge*/
  scrollbar-width: none; /*firefox*/
}
.project {
  margin: 10px;
  display: flex;
  position: relative;
}
.project__container {
  display: flex;
}
.project__info {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
}
.project__image {
  object-fit: cover;
  height: 400px;
  width: 400px;
}
.project__image:hover {
  transform: scale(1.1);
  transition: transform ease-in-out 0.3s !important;
}
.project__delete {
  color: gray;
  position: absolute;
  display: 100;
  cursor: pointer;
  font-size: 2rem !important;
  right: 5px;
  top: -3px;
}
.project__delete:hover {
  color: red;
}
.upload__button:hover {
  color: gray !important;
  background-color: #2f3135 !important;
  transition: transform ease-in-out 0.3s !important;
}
.project__button {
  color: gray !important;
  background-color: #2f3135 !important;
  transition: transform ease-in-out 0.3s !important;
}
.project__button:hover {
  color: white !important;
  transform: scale(1.1);
}
/* footer */
.footer {
  color: gray;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3135;
}
.footer > p {
  font-size: small;
}
.footer__admin {
  margin-left: 100px;
  transition: transform ease-in-out 0.3s !important;
  cursor: pointer;
}
.footer__admin:hover {
  transform: scale(1.1);
  color: white;
}
.footer__upload {
  cursor: pointer;
  padding-left: 10px;
  transition: transform ease-in-out 0.3s !important;
}
.footer__upload:hover {
  transform: scale(1.1);
  color: white;
}
